<!-- app/views/users/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    .container {
      width: 80%;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .container h1 {
      margin-top: 0px;
      margin-left: 0px;
    }
    #openUserFormButton {
      width: 90px;
      height: 40px;
      border-radius: 10px;
      background-color: whitesmoke;
      margin-left: auto;

    }
    .user-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 50px;
      margin-left: 60px;
    }
    .user-table th, .user-table td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    .user-table th {
      background-color: #f2f2f2;
      text-align: center;
    }
    .avatar-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      background-color: skyblue;
    }
  </style>
</head>
<body>
<!-- List of Users -->
<div id="userList">
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
</div>
  <div class="container">
  <h1>Users List</h1>
  <%# <button id="openUserFormButton">Create User</button> %>
  <div class="user-table">
<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>ID</th>
      <th>Username</th>
      <%# <th>Firstname</th> %>
      <%# <th>Lastname</th> %>
      <th>email</th>
      <th>Mobile Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
            <% if user.avatar_url.present? %>
              <%= image_tag user.avatar_url, class: 'avatar-img' %>
            <% else %>
              <%= image_tag 'https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png', class: 'avatar-img' %>
            <% end %>
        </td>
        <td><%= user.id %></td>
        <td><%= "#{user.firstname} #{user.lastname}" %></td>
        <td><%= user.email %></td>
        <td><%= user.mobilenumber %></td>  
        <td>
          <%= link_to "View", user_path(user), class: "btn btn-info btn-sm" %>
          <%= link_to "Edit", edit_user_path(user), class: "btn btn-primary btn-sm" %>
          <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<script>

</script>
</body>
</html>













