<!-- app/views/users/_user_card.html.erb -->

<div class="user-card">
  <% if user.avatar_url.present? %>
    <%= image_tag user.avatar_url, class: 'avatar' %>
  <% else %>
    <%= image_tag 'default-avatar.jpg', class: 'avatar' %>
  <% end %>
  <div class="user-info">
    <h3><%= user.firstname %> <%= user.lastname %></h3>
    <p>Mobile Number: <%= user.mobilenumber %></p>
    <!-- Add more user info as needed -->
  </div>
</div>
