<!DOCTYPE html>
<html>
  <head>
    <title>UserApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="abcdefgh1234567890" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all' %> 
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  </head>

  <body>

         
    <%= yield %>
  </body>
</html>
